[submodule "vendor/vesc"]
	path = vendor/vesc
	url = https://github.com/vedderb/bldc
[submodule "vendor/refloat"]
	path = vendor/refloat
	url = https://github.com/lukash/refloat
[submodule "vendor/vesc_tool"]
	path = vendor/vesc_tool
	url = https://github.com/vedderb/vesc_tool
	ignore = untracked
